<html lang="zxx"><link type="text/css" rel="stylesheet" id="dark-mode-custom-link"><link type="text/css" rel="stylesheet" id="dark-mode-general-link"><style type="text/css" id="dark-mode-custom-style" lang="en"></style><style type="text/css" id="dark-mode-native-style" lang="en"></style><head>
    <meta charset="utf-8">
    <title>Mayventory Inventory Management System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Mayventory Inventory Management System" name="description">
    <meta content="agency, app, bootstrap, business, company, corporate, coworking, digital, enterprise, IT services, IT solutions, saas, software, startup, technology" name="keywords">
    <meta content="" name="author">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- CSS Files
    ================================================== -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/jquery.countdown.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    <!-- color scheme -->
    <link id="colors" href="/assets/css/colors/scheme-01.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/coloring.css" rel="stylesheet" type="text/css">

</head>

<body style="display: block; background-size: cover;">
    <div id="wrapper" style="background-size: cover;">
        <!-- header begin -->
        <header class="header-light transparent scroll-light clone smaller">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-12" style="background-size: cover;">
                            <div class="d-flex justify-content-between" style="background-size: cover;">
                                <div class="align-self-center header-col-left" style="background-size: cover;">
                                    <!-- logo begin -->
                                    <!-- logo begin -->
                                    <div id="logo" style="background-size: cover;">
                                        <a href="index.html">
											<img alt="" src="../assets/images/mayventory-logo-dark.png">
										</a>
                                    </div>
                                    <!-- logo close -->
                                    <!-- logo close -->
                                </div>
                                <div class="align-self-center ml-auto header-col-mid" style="background-size: cover;">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu" class="no-separator">
                                    <li>
                                        <a href="/">Home</a><span></span>
                                    </li>
                                    <li>
                                        <a href="#">Company</a><span></span>
                                        <ul>
                                            <li><a href="/view/about-us.html">About Us</a></li>
                                            <li><a href="/view/our-team.html">Our Team</a></li>
                                            <li><a href="/view/our-history.html">Our History</a></li>
                                            </ul>
                                    </li>
                                    <li>
                                        <li><a href="/view/faq.html">FAQs</a></li>
                                    </li>
                                    <li>
                                        <a href="/view/contact-us.html">Contact</a><span></span>
                                    </li>
                                </ul>
                                </div>
                                <div class="align-self-center ml-auto header-col-right" style="background-size: cover;">
                                    <a class="btn-custom" href="#"><i class="fa fa-arrow-down"></i> Documentation</a>
                                    <span id="menu-btn"></span>
                                </div>
                                <div class="clearfix" style="background-size: cover;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content" style="background-size: cover;">
            <div id="top" style="background-size: cover;"></div>
            
            <!-- section begin -->
            <section id="subheader" data-bgimage="url(../assets/images/background/5.png) bottom" style="background: rgba(0, 0, 0, 0) url(&quot;../assets/images/background/5.png&quot;) repeat scroll center bottom / cover;">
                    <div class="center-y relative text-center" data-scroll-speed="4" style="background-size: cover; transform: translateY(174.75px);">
                        <div class="container" style="background-size: cover;">
                            <div class="row" style="background-size: cover;">
                                <div class="col-md-8 offset-md-2" style="background-size: cover;">
                                    <form action="blank.php" class="row" id="form_subscribe" method="post" name="myForm">
                                <div class="col-md-12 text-center" style="background-size: cover;">
									<h1>Contact Us</h1>
									<p>Awsome Page Teaser Here</p>
                                </div>
                                <div class="clearfix" style="background-size: cover;"></div>
                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            

            <section class="no-top" data-bgimage="url(../assets/images/background/3.png) top" style="background: rgba(0, 0, 0, 0) url(&quot;../assets/images/background/3.png&quot;) repeat scroll center top / cover;">
                <div class="container" style="background-size: cover;">
						<div class="row" style="background-size: cover;">
							
							<div class="col-lg-8 offset-md-2 mb-sm-30" style="background-size: cover;">
							<h3>Do you have any question?</h3>
							
							<form name="contactForm" id="contact_form" class="form-border" method="post" action="email.php">
								<div class="field-set" style="background-size: cover;">
									<input type="text" name="name" id="name" class="form-control" placeholder="Your Name">
								</div>

								<div class="field-set" style="background-size: cover;">
									<input type="text" name="email" id="email" class="form-control" placeholder="Your Email">
								</div>

								<div class="field-set" style="background-size: cover;">
									<input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone">
								</div>

								<div class="field-set" style="background-size: cover;">
									<textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea>
								</div>

								<div class="spacer-half" style="background-size: cover;"></div>

								<div id="submit" style="background-size: cover;">
									<input type="submit" id="send_message" value="Submit Form" class="btn btn-custom">
								</div>
								<div id="mail_success" class="success" style="background-size: cover;">Your message has been sent successfully.</div>
								<div id="mail_fail" class="error" style="background-size: cover;">Sorry, error occured this time sending your message.</div>
							</form>
						</div>
						
						<div class="spacer-double" style="background-size: cover;"></div>
						
						<div class="col-lg-4 offset-md-4 mb30" style="background-size: cover;">
							<div class="row" style="background-size: cover;">
								<div class="col-md-12" style="background-size: cover;">
									<div class="padding40 bg-color-2 text-light box-rounded" style="background-size: cover;">
										<h3>Our Office</h3>
										<address class="s1">
											<span><i class="fa fa-map-marker fa-lg"></i>08 W 36th St, New York, NY 10001</span>
											<span><i class="fa fa-phone fa-lg"></i>+1 333 9296</span>
											<span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:contact@mayventory.com">contact@mayventory.com</a></span>
											<span><i class="fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span>
										</address>
									</div>
								</div>

								<!-- <div class="col-md-6" style="background-size: cover;">
									<div class="padding40 bg-color-3 text-light box-rounded" style="background-size: cover;">
										<h3>AU Office</h3>
										<address class="s1">
											<span><i class="fa fa-map-marker fa-lg"></i>100 Mainstreet Center, Sydney</span>
											<span><i class="fa fa-phone fa-lg"></i>+61 333 9296</span>
											<span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:contact@mayventory.com">contact@mayventory.com</a></span>
											<span><i class="fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span>
										</address>
									</div>
								</div> -->
							</div>
						</div>
							
						</div>
					</div>
				</section></div>

            

        </div>
        <!-- content close -->

        <!-- footer begin -->
            <footer class="footer-light">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
						<div class="col-lg-4" style="background-size: cover;">
                            <div class="widget" style="background-size: cover;">
                                <a href="index.html"><img alt="" class="logo" src="../assets/images/mayventory-logo-dark.png"></a>
                                <div class="spacer-20" style="background-size: cover;"></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.</p>
                            </div>
                        </div>
						
                        <div class="col-lg-2" style="background-size: cover;">
                            <div class="widget" style="background-size: cover;">
                                <h5>Sitemap</h5>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="/view/contact-us.html">Contact</a></li>
                                    <li><a href="/view/faq.html">Faqs</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2" style="background-size: cover;">
                            <div class="widget" style="background-size: cover;">
                                <h5>Our Company</h5>
                                <ul>
                                    <li><a href="/view/about-us.html">About Us</a></li>
                                    <li><a href="/view/our-team.html">Our Team</a></li>
                                    <li><a href="/view/our-history.html">Our History</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-lg-4" style="background-size: cover;">
                            <div class="widget" style="background-size: cover;">
                                <h5>Newsletter</h5>

                                <p>Signup for our newsletter to get the latest news, updates and special offers in your inbox.</p>
                                <form action="blank.php" class="row" id="form_subscribe" method="post" name="form_subscribe">
                                    <div class="col text-center" style="background-size: cover;">
                                        <input class="form-control" id="name_1" name="name_1" placeholder="enter your email" type="text"> <a href="#" id="btn-submit"><i class="fa fa-arrow-right"></i></a>
                                        <div class="clearfix" style="background-size: cover;"></div>
                                    </div>
                                </form>
                                <div class="spacer-10" style="background-size: cover;"></div>
                                <small>Your email is safe with us. We don't spam.</small>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="background-size: cover;">
                        <div class="col-md-6 sm-text-center mb-sm-30" style="background-size: cover;">
                            <div class="mt10" style="background-size: cover;">© Copyright 2020 - Mayventory by First Pavilion Technology</div>
                        </div>

                        <div class="col-md-6 text-md-right text-sm-left" style="background-size: cover;">
                            <div class="social-icons" style="background-size: cover;">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer close -->
		
        
        
		<div id="preloader" style="background-size: cover; display: none;">
                <div class="spinner" style="background-size: cover;">
                    <div class="bounce1" style="background-size: cover;"></div>
                    <div class="bounce2" style="background-size: cover;"></div>
                    <div class="bounce3" style="background-size: cover;"></div>
                </div>
            </div>
        		
		


        <!-- Javascript Files
    ================================================== -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/jquery.isotope.min.js"></script>
    <script src="../assets/js/easing.js"></script>
    <script src="../assets/js/owl.carousel.js"></script>
    <script src="../assets/js/validation.js"></script>
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/enquire.min.js"></script>
    <script src="../assets/js/jquery.stellar.min.js"></script>
    <script src="../assets/js/jquery.plugin.js"></script>
    <script src="../assets/js/typed.js"></script>
    <script src="../assets/js/jquery.countTo.js"></script>
    <script src="../assets/js/jquery.countdown.js"></script>
    <script src="../assets/js/designesia.js"></script>




</body></html>