<html lang="zxx">
<link type="text/css" rel="stylesheet" id="dark-mode-custom-link">
<link type="text/css" rel="stylesheet" id="dark-mode-general-link">
<style type="text/css" id="dark-mode-custom-style" lang="en"></style>
<style type="text/css" id="dark-mode-native-style" lang="en"></style>

<head>
    <meta charset="utf-8">
    <title>Mayventory Inventory Management System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Mayventory Inventory Management System" name="description">
    <meta content="agency, app, bootstrap, business, company, corporate, coworking, digital, enterprise, IT services, IT solutions, saas, software, startup, technology" name="keywords">
    <meta content="" name="author">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- CSS Files
    ================================================== -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/jquery.countdown.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">

    <!-- color scheme -->
    <link id="colors" href="../assets/css/colors/scheme-01.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/coloring.css" rel="stylesheet" type="text/css">

</head>

<body style="display: block; background-size: cover;">
    <div id="wrapper" style="background-size: cover;">
        <!-- header begin -->
        <header class="header-light transparent scroll-light clone smaller">
            <div class="container" style="background-size: cover;">
                <div class="row" style="background-size: cover;">
                    <div class="col-md-12" style="background-size: cover;">
                        <div class="d-flex justify-content-between" style="background-size: cover;">
                            <div class="align-self-center header-col-left" style="background-size: cover;">
                                <!-- logo begin -->
                                <!-- logo begin -->
                                <div id="logo" style="background-size: cover;">
                                    <a href="index.html">
                                        <img alt="" src="../assets/images/mayventory-logo-dark.png">
                                    </a>
                                </div>
                                <!-- logo close -->
                                <!-- logo close -->
                            </div>
                            <div class="align-self-center ml-auto header-col-mid" style="background-size: cover;">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu" class="no-separator">
                                    <li>
                                        <a href="/">Home</a><span></span>
                                    </li>
                                    <li>
                                        <a href="#">Company</a><span></span>
                                        <ul>
                                            <li><a href="/view/about-us.html">About Us</a></li>
                                            <li><a href="/view/our-team.html">Our Team</a></li>
                                            <li><a href="/view/our-history.html">Our History</a></li>
                                            </ul>
                                    </li>
                                    <li>
                                        <li><a href="/view/faq.html">FAQs</a></li>
                                    </li>
                                    <li>
                                        <a href="/view/contact-us.html">Contact</a><span></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="align-self-center ml-auto header-col-right" style="background-size: cover;">
                                <a class="btn-custom" href="#"><i class="fa fa-arrow-down"></i> Documentation</a>
                                <span id="menu-btn"></span>
                            </div>
                            <div class="clearfix" style="background-size: cover;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content" style="background-size: cover;">
            <div id="top" style="background-size: cover;"></div>

            <!-- section begin -->
            <section id="subheader" data-bgimage="url(../assets/images/background/5.png) bottom" style="background: rgba(0, 0, 0, 0) url(&quot;../assets/images/background/5.png&quot;) repeat scroll center bottom / cover;">
                <div class="center-y relative text-center" data-scroll-speed="4" style="background-size: cover; transform: translateY(60px);">
                    <div class="container" style="background-size: cover;">
                        <div class="row" style="background-size: cover;">
                            <div class="col-md-8 offset-md-2" style="background-size: cover;">
                                <form action="blank.php" class="row" id="form_subscribe" method="post" name="myForm">
                                    <div class="col-md-12 text-center" style="background-size: cover;">
                                        <h1>FAQs</h1>
                                        <p>Awsome Page Teaser Here</p>
                                    </div>
                                    <div class="clearfix" style="background-size: cover;"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section class="no-top relative pos-top" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">

                        <div class="col-md-6" style="background-size: cover;">
                            <!-- Accordion -->
                            <div id="accordion-1" class="accordion accordion-style-1" style="background-size: cover;">

                                <!-- Accordion item 1 -->
                                <div class="card" style="background-size: cover;">
                                    <div id="heading-a1" class="card-header bg-white shadow-sm border-0" style="background-size: cover;">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-a1" aria-expanded="false" aria-controls="collapse-a1" class="d-block position-relative text-dark collapsible-link py-2 collapsed">How Mayventory help your business?</a></h6>
                                    </div>
                                    <div id="collapse-a1" aria-labelledby="heading-a1" data-parent="#accordion-1" class="collapse" style="background-size: cover;">
                                        <div class="card-body p-4" style="background-size: cover;">
                                            <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 2 -->
                                <div class="card" style="background-size: cover;">
                                    <div id="heading-a2" class="card-header bg-white shadow-sm border-0" style="background-size: cover;">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-a2" aria-expanded="false" aria-controls="collapse-a2" class="d-block position-relative text-dark collapsible-link py-2 collapsed">When was Mayventory founded?</a></h6>
                                    </div>
                                    <div id="collapse-a2" aria-labelledby="heading-a2" data-parent="#accordion-1" class="collapse" style="background-size: cover;">
                                        <div class="card-body p-4" style="background-size: cover;">
                                            <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 3 -->
                                <div class="card" style="background-size: cover;">
                                    <div id="heading-a3" class="card-header bg-white shadow-sm border-0" style="background-size: cover;">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-a3" aria-expanded="false" aria-controls="collapse-a3" class="d-block position-relative collapsed text-dark collapsible-link py-2">What is Mayventory vision and mission?</a></h6>
                                    </div>
                                    <div id="collapse-a3" aria-labelledby="heading-a3" data-parent="#accordion-1" class="collapse" style="background-size: cover;">
                                        <div class="card-body p-4" style="background-size: cover;">
                                            <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col-md-6" style="background-size: cover;">
                            <!-- Accordion -->
                            <div id="accordion-2" class="accordion accordion-style-1" style="background-size: cover;">

                                <!-- Accordion item 1 -->
                                <div class="card" style="background-size: cover;">
                                    <div id="heading-b1" class="card-header bg-white shadow-sm border-0" style="background-size: cover;">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-b1" aria-expanded="false" aria-controls="collapse-b1" class="d-block position-relative text-dark collapsible-link py-2 collapsed">What are the business core of Mayventory?</a></h6>
                                    </div>
                                    <div id="collapse-b1" aria-labelledby="heading-b1" data-parent="#accordion-2" class="collapse" style="background-size: cover;">
                                        <div class="card-body p-4" style="background-size: cover;">
                                            <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 2 -->
                                <div class="card" style="background-size: cover;">
                                    <div id="heading-b2" class="card-header bg-white shadow-sm border-0" style="background-size: cover;">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-b2" aria-expanded="false" aria-controls="collapse-b2" class="d-block position-relative collapsed text-dark collapsible-link py-2">Who needs Mayventory?</a></h6>
                                    </div>
                                    <div id="collapse-b2" aria-labelledby="heading-b2" data-parent="#accordion-2" class="collapse" style="background-size: cover;">
                                        <div class="card-body p-4" style="background-size: cover;">
                                            <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion item 3 -->
                                <div class="card" style="background-size: cover;">
                                    <div id="heading-b3" class="card-header bg-white shadow-sm border-0" style="background-size: cover;">
                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse-b3" aria-expanded="false" aria-controls="collapse-b3" class="d-block position-relative collapsed text-dark collapsible-link py-2">Where is Mayventory position on the market?</a></h6>
                                    </div>
                                    <div id="collapse-b3" aria-labelledby="heading-b3" data-parent="#accordion-2" class="collapse" style="background-size: cover;">
                                        <div class="card-body p-4" style="background-size: cover;">
                                            <p class="m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </section>
        </div>

        <!-- section close -->

        <section data-bgimage="url(../assets/images/background/7.png) center" style="background: rgba(0, 0, 0, 0) url(&quot;../assets/images/background/7.png&quot;) repeat scroll center center / cover;">
            <div class="container" style="background-size: cover;">
                <div class="row" style="background-size: cover;">
                    <div class="col-md-6" style="background-size: cover;">
                        <h2><span class="id-color">Call us</span> for further information. Mayventory customer care is here to help you <span class="id-color">anytime</span>. </h2>
                        <p class="lead">We're available for 24 hours!</p>
                    </div>

                    <div class="col-md-6 text-lg-center text-sm-center" style="background-size: cover;">
                        <div class="phone-num-big" style="background-size: cover;">
                            <i class="fa fa-phone id-color"></i>
                            <span class="pnb-text">
                                Call Us Now
                            </span>
                            <span class="pnb-num">
                                1 200 333 800
                            </span>
                        </div>
                        <a href="#" class="btn-custom capsule med">Contact Us</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-fun-facts" class="pt40 pb40 text-light bg-color-3" style="background-size: cover;">
            <div class="container" style="background-size: cover;">

                <div class="row" style="background-size: cover;">
                    <div class="col-md-3 col-sm-6" style="background-size: cover;">
                        <div class="de_count" style="background-size: cover;">
                            <h3 class="timer" data-to="15425" data-speed="3000">15425</h3>
                            <span>Website Powered</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6" style="background-size: cover;">
                        <div class="de_count" style="background-size: cover;">
                            <h3 class="timer" data-to="8745" data-speed="3000">8745</h3>
                            <span>Clients Supported</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6" data-wow-delay=".5s" style="background-size: cover;">
                        <div class="de_count" style="background-size: cover;">
                            <h3 class="timer" data-to="235" data-speed="3000">235</h3>
                            <span>Awards Winning</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6" style="background-size: cover;">
                        <div class="de_count" style="background-size: cover;">
                            <h3 class="timer" data-to="15" data-speed="3000">15</h3>
                            <span>Years Experience</span>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
    <!-- content close -->

    <!-- footer begin -->
    <footer class="footer-light">
        <div class="container" style="background-size: cover;">
            <div class="row" style="background-size: cover;">
                <div class="col-lg-4" style="background-size: cover;">
                    <div class="widget" style="background-size: cover;">
                        <a href="index.html"><img alt="" class="logo" src="../assets/images/mayventory-logo-dark.png"></a>
                        <div class="spacer-20" style="background-size: cover;"></div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.</p>
                    </div>
                </div>

                <div class="col-lg-2" style="background-size: cover;">
                    <div class="widget" style="background-size: cover;">
                        <h5>Sitemap</h5>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="/view/contact-us.html">Contact</a></li>
                            <li><a href="/view/faq.html">Faqs</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2" style="background-size: cover;">
                    <div class="widget" style="background-size: cover;">
                        <h5>Our Company</h5>
                        <ul>
                            <li><a href="/view/about-us.html">About Us</a></li>
                            <li><a href="/view/our-team.html">Our Team</a></li>
                            <li><a href="/view/our-history.html">Our History</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-4" style="background-size: cover;">
                    <div class="widget" style="background-size: cover;">
                        <h5>Newsletter</h5>

                        <p>Signup for our newsletter to get the latest news, updates and special offers in your inbox.</p>
                        <form action="blank.php" class="row" id="form_subscribe" method="post" name="form_subscribe">
                            <div class="col text-center" style="background-size: cover;">
                                <input class="form-control" id="name_1" name="name_1" placeholder="enter your email" type="text"> <a href="#" id="btn-submit"><i class="fa fa-arrow-right"></i></a>
                                <div class="clearfix" style="background-size: cover;"></div>
                            </div>
                        </form>
                        <div class="spacer-10" style="background-size: cover;"></div>
                        <small>Your email is safe with us. We don't spam.</small>
                    </div>
                </div>
            </div>

            <div class="row" style="background-size: cover;">
                <div class="col-md-6 sm-text-center mb-sm-30" style="background-size: cover;">
                    <div class="mt10" style="background-size: cover;">© Copyright 2020 - Mayventory by First Pavilion Technology</div>
                </div>

                <div class="col-md-6 text-md-right text-sm-left" style="background-size: cover;">
                    <div class="social-icons" style="background-size: cover;">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer close -->



    <div id="preloader" style="background-size: cover; display: none;">
        <div class="spinner" style="background-size: cover;">
            <div class="bounce1" style="background-size: cover;"></div>
            <div class="bounce2" style="background-size: cover;"></div>
            <div class="bounce3" style="background-size: cover;"></div>
        </div>
    </div>




    <!-- Javascript Files
    ================================================== -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/jquery.isotope.min.js"></script>
    <script src="../assets/js/easing.js"></script>
    <script src="../assets/js/owl.carousel.js"></script>
    <script src="../assets/js/validation.js"></script>
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/enquire.min.js"></script>
    <script src="../assets/js/jquery.stellar.min.js"></script>
    <script src="../assets/js/jquery.plugin.js"></script>
    <script src="../assets/js/typed.js"></script>
    <script src="../assets/js/jquery.countTo.js"></script>
    <script src="../assets/js/jquery.countdown.js"></script>
    <script src="../assets/js/designesia.js"></script>




</body>

</html>